<template>
  <div class="home">
    <h1> Modanisa Todo List App </h1>
    <TodoOperation @todo="addTodo($event)"/>
    <ul class="todo-list">
      <List v-for="todo in todos"
            :todo="todo"
            :key="todo.id" />
    </ul>
  </div>
</template>

<script>
import TodoOperation from "@/components/TodoOperation";
import List from "@/components/List";
import API from "@/api";

export default {
  name: 'Home',
  data() {
    return {
      todos: [],
    }
  },
  components:{
    TodoOperation,
    List
  },
  methods: {
    addTodo(todo) {
      for(let i=0; i < this.todos.length; i++){
        if( this.todos[i].id === todo.id){
          return true
        }
      }
      this.todos.push(todo)
    },
  },
  async created() {
    try {
      this.todos = await API.getTodoList()
    } catch (e) {
      console.error("error:", e)
    }
  }
}
</script>

<style>
.home {
  background-image: linear-gradient(100deg, #575656, #062e3f);
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  padding-top: 3%;
  width: 100%;
}
h1 {
  color: white;
}
ul {
  border-color: white;
  border-style: dotted;
  border-radius: 20px;
  width: 750px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
</style>