<template>
  <div>
    <li class="todo"> {{ todo.id }}. {{ todo.description }}</li>
  </div>
</template>

<script>


export default {
  name: "List.vue",
  props: {
    todo: Object,
  },
}

</script>

<style scoped>
li {
  margin-top: 50px;
  color: white;
}
</style>