<template>
  <div class="todo-operation">
    <input id="todo-text" placeholder="Todo Description" v-model="todo"/>
    <button id="add-todo" @click="addTodo"> Add New Todo </button>
  </div>
</template>

<script>
import API from "@/api";

export default {
  name: "TodoOperation.vue",
  data() {
    return {
      todo: '',
      task: ""
    }
  },
  methods: {
    async addTodo() {
      if (this.todo === "") {
        this.task = "Empty"
        return
      }
      try {
        this.task=await API.addTodo(this.todo)
        this.$emit("todo", this.task)
      } catch (e) {
        console.error(e)
      } finally {
        this.todo = ''
      }
    }
  }
}
</script>

<style scoped>
.todo-operation {

}
#add-todo {
  margin-left: 25px;
  margin-top: 25px;
}
</style>